html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Hey there */


html {
    height: 100%;
    font-family: 'Lato';
    background-color: #f2f2f7;
}

body {
    height: 100%;
}

main {
    height: 100%;
    margin-top: -2%;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.face {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.content {
    margin-left: 3em;
}

h1 {
    color: #000000;
    font-weight: 800;
    word-spacing: 0.4ch;
    font-size: 2.4em;
    text-transform: uppercase;
    letter-spacing: 0.05ch;
    margin: 0;
}

h2 {
    color: #888;
    margin: 0;
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
}

p {
    max-width: 70ch;
    line-height: 1.5em;
}

.small-caps {
    font-variant: small-caps;
    font-size: 0.9em;
}

a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin-right: 1em;
    border-bottom: solid;
    border-width: 1px;
    border-color: hsl(0, 1%, 71%);
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 800px) {
    main {
        margin-top: 2ch;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .content {
        padding: 2ch;
        margin-left: 0;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
